

<h1 style="font-family:Trebuchet MS" class="text-center">Article list </h1>

<%= render 'articles'%>
<br>
    <div class="apple_pagination .current">
        <%= will_paginate @articles, :container => false %>
    </div>