<% if @article.errors.any? %>
    <div class="alert alert-danger alert-dismissable fade show role=alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h1>The following errors prevented the article from beging saved</h1>
        <% @article.errors.full_messages.each do |msg| %>
                <ul>
                    <li><%=msg%></li>
                </ul>
            <% end %>
            
        </div>
    
<% end %>