
<div class="container">
<p style="font-family:Trebuchet MS">
MotorradX India is a licensed publication of 'MotorradX', a British automobile publication by Haymarket Motoring Publications Ltd. It is part of Haymarket SAC Publishing (India) Pvt. Ltd., a joint venture between Haymarket and Sorabjee Automotive Communications.
MotorradX India is published as a monthly magazine and currently enjoys the highest readership among automobile magazines in India (IRS-2009 R1 report). A television show titled 'The MotorradX Show' also airs weekly on Times Now and ET Now which enjoys the highest viewership among Indian automobile programmes (source). Autocar India has a strong digital presence with the website providing a daily feed of automobile news, updates and reviews. The Autocar India YouTube channel features numerous videos with reviews, comparisons and other exciting automotive content. MotorradX India's digital presence extends to Twitter, Facebook, Instagram and Google+.
</p>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">MotorradX Articles</h5>
                    <p class="card-text">Read out the latest articles in MotorradX</p>
                    
                    <%= link_to 'Articles', articles_path, class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Home</h5>
                        <p class="card-text">MotorradX</p>
                        <%# <a href="#" class="btn btn-primary" <%= link_to 'About ', about_path %> 
                        <%= link_to 'Home ', root_path, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
</div>
